main::-webkit-scrollbar {
  width: 0.5em;
  border-radius:20px
}
 
main::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color:#EEE
}
 
main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
    
}
.ds-selected .mdc-card{
    border-style:solid;
    border-width:1px;
    border-color:#009688;
}
*{margin:0;padding:0;box-sizing:border-box}
#menuUl {
display:none;
position: absolute;
margin-bottom:0;
}
.pc-link-dropdown{
    display:none;
}

@media(min-width:1024px){
    //.mdc-card__actions{
        display:none
    }
    .pc-link-dropdown{
        display:block;
    }
}
.minusTop{
    margin-top:-1.5rem;
.mdc-card__media,  .demo-card__media{
 object-fit: fill;
 }
